**Group 27 Assignment 4**

In [0]:
import sqlite3 # Once imported in a single notebook, it is available to us throughout the rest of the notebook. 
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('CataBus') 
cursor = connectionToDatabase.cursor()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Passenger''')
connectionToDatabase.commit()

cursor.execute('''create table Passenger (PSUID text PRIMARY KEY, firstname text, lastname text, Semester text)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Bus''')
connectionToDatabase.commit()

cursor.execute('''create table Bus (BusID text PRIMARY KEY, Model text, SeatsAvailable int, SeatsFilled int, Day text)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Condition''')
connectionToDatabase.commit()

cursor.execute('''create table Condition (Weather text PRIMARY KEY, Temperature int, date, Traffic text)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Route''')
connectionToDatabase.commit()

cursor.execute('''create table Route (RouteID text PRIMARY KEY, BusID text, Stops int, Minutes int, day text)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Traffic''')
connectionToDatabase.commit()

cursor.execute('''create table Traffic (LoopID text PRIMARY KEY, Time text, Date text, State text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Passenger values ('939664067', 'Charlotte', 'Lin', 'Sophomore' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Passenger values ('965306945', 'Amy', 'Anderson', 'Junior' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Passenger values ('939450968', 'Jordan', 'Patton', 'Senior' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Passenger values ('934509821', 'John', 'Friedman', 'Freshman' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Passenger values ('938576334', 'Randy', 'Savage', 'Freshman' );''')
connectionToDatabase.commit()

cursor.execute('''select * from Passenger limit 5''')
for row in cursor.fetchall():
  print (row)

('939664067', 'Charlotte', 'Lin', 'Sophomore')
('965306945', 'Amy', 'Anderson', 'Junior')
('939450968', 'Jordan', 'Patton', 'Senior')
('934509821', 'John', 'Friedman', 'Freshman')
('938576334', 'Randy', 'Savage', 'Freshman')

In [0]:
cursor.execute('''insert into Bus values ('XDE60', 'New Flyer', '50', '22', 'Monday' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Bus values ('27TR', 'Solaris', '50', '25', 'Tuesday' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Bus values ('104', 'Minsk', '60', '35', 'Wednesday' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Bus values ('411', 'Ikarus', '60', '40', 'Monday' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Bus values ('600', 'MCV', '50', '36', 'Monday' );''')
connectionToDatabase.commit()

cursor.execute('''select * from Bus limit 5''')
for row in cursor.fetchall():
  print (row)

('XDE60', 'New Flyer', 50, 22, 'Monday')
('27TR', 'Solaris', 50, 25, 'Tuesday')
('104', 'Minsk', 60, 35, 'Wednesday')
('411', 'Ikarus', 60, 40, 'Monday')
('600', 'MCV', 50, 36, 'Monday')

In [0]:
cursor.execute('''insert into Condition values ('Sunny', '67', '9/14/19', 'Light' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Condition values ('Rainy', '44', '10/03/19', 'Moderate' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Condition values ('Cloudy', '11', '11/22/19', 'Heavy' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Condition values ('Mist', '23', '11/29/19', 'Light' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Condition values ('Snow', '5', '12/15/19', 'Heavy' );''')
connectionToDatabase.commit()

cursor.execute('''select * from Condition limit 5''')
for row in cursor.fetchall():
  print (row)

('Sunny', 67, '9/14/19', 'Light')
('Rainy', 44, '10/03/19', 'Moderate')
('Cloudy', 11, '11/22/19', 'Heavy')
('Mist', 23, '11/29/19', 'Light')
('Snow', 5, '12/15/19', 'Heavy')

In [0]:
cursor.execute('''insert into Route values ('22RR', 'XDE60', '18', '11', 'Monday' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Route values ('44RR', '27TIR', '15', '12', 'Tuesday' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Route values ('88RR', '104TY', '18', '11', 'Wednesday' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Route values ('66RT', '41RR1', '15', '13', 'Thursday' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Route values ('77YT', '6EE00', '18', '12', 'Friday' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Route values ('99YT', '77RRT', '9', '30', 'Saturday' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Route values ('11UT', 'ETRE50', '9', '23', 'Sunday' );''')
connectionToDatabase.commit()

cursor.execute('''select * from Route limit 7''')
for row in cursor.fetchall():
  print (row)

('22RR', 'XDE60', 18, 11, 'Monday')
('44RR', '27TIR', 15, 12, 'Tuesday')
('88RR', '104TY', 18, 11, 'Wednesday')
('66RT', '41RR1', 15, 13, 'Thursday')
('77YT', '6EE00', 18, 12, 'Friday')
('99YT', '77RRT', 9, 30, 'Saturday')
('11UT', 'ETRE50', 9, 23, 'Sunday')

In [0]:
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Traffic''')
connectionToDatabase.commit()

cursor.execute('''create table Traffic (LoopID text PRIMARY KEY, Time text, Date text, State text)''')
connectionToDatabase.commit()

cursor.execute('''insert into Traffic values ('Blue1', '7:00AM', '5-11-19', 'Light');''')
connectionToDatabase.commit()
cursor.execute('''insert into Traffic values ('Blue2', '9:00AM', '9-09-19', 'Moderate');''')
connectionToDatabase.commit()
cursor.execute('''insert into Traffic values ('Blue3', '11:00AM', '10-15-19', 'Light');''')
connectionToDatabase.commit()
cursor.execute('''insert into Traffic values ('Blue4', '12:00PM', '3-10-19', 'Heavy');''')
connectionToDatabase.commit()
cursor.execute('''insert into Traffic values ('Blue5', '3:00PM', '8-18-19', 'Heavy');''')
connectionToDatabase.commit()
cursor.execute('''insert into Traffic values ('Blue6', '5:00PM', '5-14-19', 'Light');''')
connectionToDatabase.commit()
cursor.execute('''insert into Traffic values ('Blue7', '8:00PM', '7-16-19', 'Moderate');''')
connectionToDatabase.commit()

cursor.execute('''select * from Traffic limit 7''')
for row in cursor.fetchall():
  print (row)

('Blue1', '7:00AM', '5-11-19', 'Light')
('Blue2', '9:00AM', '9-09-19', 'Moderate')
('Blue3', '11:00AM', '10-15-19', 'Light')
('Blue4', '12:00PM', '3-10-19', 'Heavy')
('Blue5', '3:00PM', '8-18-19', 'Heavy')
('Blue6', '5:00PM', '5-14-19', 'Light')
('Blue7', '8:00PM', '7-16-19', 'Moderate')

**1. What are the days where traffic is heavy?**

In [0]:
cursor.execute('''select * from Traffic where state = "Heavy" limit 5''')
for row in cursor.fetchall():
  print (row)

('Blue4', '12:00PM', '3-10-19', 'Heavy')
('Blue5', '3:00PM', '8-18-19', 'Heavy')

- This question is important because a student can wake up in the morning and see what time of the day that traffic is heavy. The table finds the word "heavy" and will fetch all of the dates and times that the blue loop is heaviest. This will help travel time to a class as a student can efficiently plan their day. The results of the table came out just as expected with the blue loop, time of the day, date, and the search result, "heavy".

**2. What are the top 5 days where the loop was the fastest?**

In [0]:
cursor.execute('''select * from Route ORDER BY Minutes DESC limit 5''')
for row in cursor.fetchall():
  print (row)

('99YT', '77RRT', 9, 30, 'Saturday')
('11UT', 'ETRE50', 9, 23, 'Sunday')
('66RT', '41RR1', 15, 13, 'Thursday')
('44RR', '27TIR', 15, 12, 'Tuesday')
('77YT', '6EE00', 18, 12, 'Friday')

- This question is important because a student can look at times in which they cam take a quicker bus. It comes with the bus route, passengers and time. If a student is planning to travel on a bus and fears missing it, the table can find the faster routes, so they can look out for it. The results for the question came out exactly as expected as there are the elements of time, routes and the days of the week that are associated.

**3. What are the average seats filled on Mondays?**

In [0]:
cursor.execute('''select SUM(SeatsFilled) from Bus WHERE Day = "Monday" ''')
for row in cursor.fetchall():
  print (row)

(98,)

- This question is very important as it will give an estimate for how crowded a bus is. If a student was deciding whether to take a bus or to walk, they could ask this question and see if there are many seats taken or few. If there are few, it would be very easy for the student to get a seat on the bus. This question was answered exactly as expecred as it took the average number of seats filled for Mondays. This could be applied to any day of the week for students to use daily.

In [2]:
from google.colab import files
from IPython.display import Image

uploaded = files.upload()

Image('Bus Tables.png', width =1200)

TypeError: ignored